# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.ncb
*.aps
*.pch
*.idb
*.opendb
*.tlog
*.lastbuildstate
Debug/
Release/
x64/
x86/
arm/
bin/
obj/
*.pdb
*.ilk
*.log
*.exe
*.dll
*.app

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Zig
/zig-out/
/.zig-cache/
